.dev-section {
  background: #000000;
  color: #e0e0e0;
  min-height: 100vh;
  text-align: center;
  padding: 80px 20px;
}

.dev-section h2 {
  font-size: 2.4rem;
  margin-bottom: 60px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #00b4d8;
}

.dev-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
  justify-items: center;
}

.dev-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  backdrop-filter: blur(8px);
  overflow: hidden;
  transition: all 0.4s ease;
  width: 260px;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 180, 216, 0.1);
}

.dev-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 0 40px rgba(0, 180, 216, 0.4);
}

/* foto del developer */
.img-wrapper {
  height: 200px;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
  filter: brightness(0.8);
}

.dev-card:hover img {
  transform: scale(1.1);
  filter: brightness(1);
}




.card-content {
  padding: 25px;
}

h3 {
  font-size: 1.2rem;
  margin: 15px 0 5px;
  color: #fff;
}

p {
  color: #bbb;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

/* redes sociales */
.socials {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.socials a {
  color: #999;
  transition: color 0.3s, transform 0.3s;
}

.socials a:hover {
  transform: scale(1.2);
}

.socials a:nth-child(1):hover {
  color: #f5f5f5; /* GitHub */
}

.socials a:nth-child(2):hover {
  color: #0a66c2; /* LinkedIn */
}
