<div class="auth-wrapper my-5">
  <div class="auth-panel active">
    
    <!-- Info Section -->
    <div class="info-section">
      <h1>¡Bienvenido!</h1>
      <p>¿Ya tienes una cuenta?</p>
      <button (click)="backToLogin()">Iniciar Sesión</button>
    </div>

    <!-- Form Section -->
    <div class="form-section">
      <h2 class="login-registro">Crear Cuenta</h2>

      <form [formGroup]="registerForm" (ngSubmit)="onregister($event)">
        <input formControlName="nombre" type="text" placeholder="Nombre Completo"  required [class.is-valid]=" Nombre?.valid && Nombre?.touched" [class.is-invalid] = "Nombre?.invalid && Nombre?.touched" />
          @if (Nombre?.invalid && Nombre?.touched){
            @if (Nombre?.hasError('required')){
              <p class="text-danger"> El nombre es requerido</p>
            }
          }
        <input formControlName="usuario" type="text" placeholder="Usuario" />
        <input formControlName="email" type="email" placeholder="Correo Electrónico" />
        <input formControlName="contraseña" type="password" placeholder="Contraseña" />
        <input formControlName="confirmar_contra" type="password" placeholder="Confirmar Contraseña" />
        <button type="submit"></button>
      </form>
    </div>
  </div>
</div>
