.navbar {
  background-color: #6c9207;
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*logo*/
.navbar .brand span {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #f8f9fa;
  transition: color 0.3s ease;
}

.navbar .brand span:hover {
  color: #a8dadc;
}

/*menu */
.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1.4rem;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.navbar li a {
  color: #f8f9fa;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.25s ease;
}

.navbar li a:hover {
  color: #a8dadc;
}

.navbar li a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f1faee;
  border-radius: 2px;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar li a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f1faee;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar li a:hover::after {
  transform: scaleX(1);
}

/*botones*/
nav .btn.login-btn {
  background-color: #6c9207 !important;
  color: #f8f9fa !important; 
  padding: 0.55rem 1.2rem;
  border-radius: 6px;
  font-weight: 500;
  border: 1px solid #4e670a;
  cursor: pointer;
  transition: all 0.25s ease;
}

nav .btn.login-btn:hover {
  background-color: #6c9207 !important;
  color: #ffffff !important;
  border-color: #6c9207;
  transform: translateY(-1px);
}

nav .btn.logout-btn {
  background-color: transparent !important;
  border: 1px solid #f1faee;
  color: #f1faee !important;
  padding: 0.55rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.25s ease;
}

nav .btn.logout-btn:hover {
  background-color: #f1faee;
  color: #ffffff !important;
}


.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  background: none;
  border: none;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #f8f9fa;
  transition: all 0.3s ease;
}





@media (max-width: 992px) {
  .navbar ul {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    width: 250px;
    background-color: #6c9207;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
  }

  .navbar ul.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .menu-toggle {
    display: flex;
  }

  .navbar li {
    margin: 0.6rem 0;
  }
}
