<div class="auth-wrapper my-5">
  <div class="auth-panel active" [class.active]="!isRegisterActive">
    <!-- LOGIN -->
    <div class="info-section">
      <h1 style="color: white;">¡Hola otra vez!</h1>
      <p style="color: white;">¿No tienes una cuenta aún?</p>
      <button (click)="toggleMode()">Crear Cuenta</button>
    </div>

    <div class="form-section">
      <h2 class="login-registro">Iniciar Sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onEnviar($event)">
        <input
          type="text"
          placeholder="Usuario"
          formControlName="usuario"
          required
          [class.is-valid]="Usuario?.valid && Usuario?.touched"
          [class.is-invalid]="Usuario?.invalid && Usuario?.touched"
        />
        <p class="text-danger" *ngIf="Usuario?.invalid && Usuario?.touched">
          El usuario es requerido
        </p>

        <input
          type="password"
          placeholder="Contraseña"
          formControlName="contraseña"
          required
          [class.is-valid]="Password?.valid && Password?.touched"
          [class.is-invalid]="Password?.invalid && Password?.touched"
        />
        <p class="text-danger" *ngIf="Password?.invalid && Password?.touched">
          La contraseña es requerida
        </p>

        <button type="submit">Entrar</button>
      </form>
    </div>
  </div>
</div>
