/* Carrusel fullscreen */
.carousel-item {
  height: 100%;
}

.carousel-caption {
  background-color: transparent;
  padding: 20px;
  border-radius: 2000px;
  color: white; /* asegura que el texto se vea sobre la imagen */
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8); /* opcional, para que el texto resalte un poco */
}
